//-
  Copyright 2015 Landstinget Dalarna Bibliotek och Informationscentral
  Copyright 2015 Emil Hemdal (@emilhem)
  
  
  This file is part of Aaron.
  
  Aaron is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Aaron is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with Aaron.  If not, see <http://www.gnu.org/licenses/>.

extends ./includes/base.pug

block title
  title=title

block content
  div.row
    div.large-12.columns
      h1 Aaron - Hjälpsida
      p Aaron är en applikation för hanterande av användaruppgifter men används ofta som en inloggningsportal för att komma åt andra sidor.
      p Har du inget konto? Tryck då på "Skapa nytt konto" på inloggningssidan så kommer du till en sida där du kan fylla i de uppgifter som krävs för att ha ett konto.
      p Har du glömt ditt lösenord? Tryck då på "Glömt lösenordet?" på inloggningssidan så får du mer hjälp att återfå ditt lösenord.