
/**
 *
 * Copyright 2015-2016 Landstinget Dalarna Bibliotek och Informationscentral
 * Copyright 2015-2016 Emil Hemdal (@emilhem)
 *
 *
 * This file is part of Aaron.
 *
 * Aaron is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Aaron is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Aaron.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

html, body {
  height: 100%;
}

.max-height {
  height: 100%;
}

div.help-tab {
  position: absolute;
  width: 100%;
}
div.help-tab > div {
  margin: 0 auto;
  max-width: 62.5rem;
}
div.help-tab a {
  float: right;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

a.lg-click {
  padding: 5px 10px;
}

.user {
  border-bottom: 1px solid black;
}

.userEditor {
  padding-top: 15px;
  position: relative;
}

#sidebar {
  background-color: blue;
}